.table-header {
    text-align: center;
    padding: 3%;
}

.table-info {
    padding-left: 2em;
}

.tables {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 35%;
}

.table-month {
    padding-bottom: 50px;
}

.footer {
    padding-top: 50px;
    text-align: left;
}